<div style="width:100%;height:100%">
	<div id="davinci_app" style="width:100%;height:100%" dojoType='dijit.layout.BorderContainer' dojoAttachPoint="appContainer"  design="headline" gutters='false' liveSplitters="false">
		<div id="davinci_top_bar" >
			<div id="davinci_top_bar_main">
				<div id="davinci_user_container">
					<span id="davinci_main_menu"> </span>
				</div>
				<span class="maq_banner_name_box">
					<span class="maq_banner_logo"></span>
					<span class="maq_banner_name">Qfaceアプリケーション統合開発環境</span>
				</span>
				<span id="maq_banner_editor_commands"></span>
			</div>
			<div id="davinci_top_bar_divider"></div>
		</div>
		<div id="mainBody" dojoType='dijit.layout.BorderContainer' region="center" gutters='false' design= 'sidebar'></div>
	</div>
	<div id="contentassist" class="contentassist"></div>
</div>
